services:
    _defaults:
        autowire: true
        autoconfigure: true

    # Configuración general
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # ESTO ES LO QUE ESTABA DANDO ERROR: fíjate en los espacios a la izquierda
    App\EventListener\JWTCreatedListener:
        tags:
            - { name: 'kernel.event_listener', event: 'lexik_jwt_authentication.on_jwt_created', method: 'onJWTCreated' }