services:
  # Base de Datos para Symfony
  database:
    image: mariadb:10.6
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: simpsons_db
    ports:
      - "3306:3306"

  # Backend (Symfony)
  backend:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/var/www/html
    depends_on:
      - database
    environment:
      DATABASE_URL: "mysql://root:root@database:3306/simpsons_db?serverVersion=mariadb-10.6.24"

  # Frontend (Angular)
  frontend:
    build: ./frontend
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm start -- --host 0.0.0.0
